/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$grey-blue: #C7D7EC;
$magenta: #B54C77;
$light-blue: #ECF3FB;
$teal: #7FAEB0;
$dark-blue: #042B3C;
$midnight-blue: #88A7D0;
$light-pink: #E0AAC0;
$dark-magenta: #6B1236;
$dark-teal: #256785;
$light-teal: #C7E0EC;