/* =============
    Section 5
============= */

#section-5{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5 .";
    padding: 43px 0px;
    text-align: center;
    color: $black;
    background-color: $grey-blue;
    height: 160px;
 
    @include md{
        grid-template-columns: auto 70% auto;
    }
 
    @include xl{
        grid-template-columns: auto 650px auto;
    }
 
    >div{
        grid-area: section-5;
 
        h1{
            border: none;
            height: 45px;
            color: $magenta;
            text-align: left;
        }

        h4{
            color: $black;
            text-align: left;
        }

        p{
            text-align: justify;
        }
    }
 }