/* =============
    Section 4
============= */

#section-4{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-4 .";
    padding: 43px 0px;
    text-align: center;
    color: $black;
 
    @include md{
        grid-template-columns: auto 70% auto;
    }
 
    @include xl{
        grid-template-columns: auto 650px auto;
    }
 
    >div{
        grid-area: section-4;
 
        h1{
            border: none;
            height: 45px;
            color: $dark-blue;
        }

        p{
            height: 90px;
            color: $black;
            text-align: justify;
            text-justify: auto;
        }
    }
 }