/* =============
    Section 3
============= */

#section-3{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-3 .";
    padding: 45px 0px;
    text-align: center; 
    background-color: $light-pink;
 
    @include md{
        grid-template-columns: auto 100% auto;
    }
 
    @include xl{
        grid-template-columns: auto 650px auto;
    }
 
    >div{
        grid-area: section-3;

        h1{
            border: none;
            height: 80px;
            color: $white;
            text-align: center;
        }

        h4{
            color: $dark-magenta;
            height: 0 px;
            text-align: center;
        }
    }
 }