/* =============
    Section 2
============= */

#section-2{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-2 .";
    padding: 50px 0px;
    text-align: center;
    color: $black;
    background-image: url("../img/section-2/header.jpg");
    background-repeat: no-repeat;
    
    @include md{
        grid-template-columns: auto 70% auto;
    }
 
    @include xl{
        grid-template-columns: auto 650px auto;
    }
 
    >div{
        grid-area: section-2;
 
        .responsive {
            width: 100%;
            height: auto;
          }
        
        h1{
            border: none;
            height: 300px;
            color: $white;
            text-align: left;
        }

        p{
            border: none;
            color: $white;
            text-align: justify;
        }
        
        .row {
            display: flex;
          }
          
          .column {
            flex: 50%;
            padding: 10px;
          }

    }
 }