/* =============
    Header
============= */
header {
    background-color: $grey-blue;
    display: block;
    height: 79px;

    >div{
        display: grid;
        grid-template-areas: "logo burger"
                            "nav nav";
        grid-template-columns: 80% auto;

        section,
        nav{
            padding: 50px;
        }

        #logo-container {
            grid-area: logo;
            
        }
        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-start;

            @include lg {
                display: none !important;
            }
            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $grey-blue;
            grid-area: nav;
            display: none;
            height: 79px;

            @include lg {
                display: block !important;
            }
        }

        aside{
            background-image: url("../img/header/nyfw.png");
            background-size: 270px 45px;
            background-position: left top;
            height: 45px;
            @include md{
                grid-area: header;
                height: 45px;
            }
            @include lg{
                height: 50px;
            }
            @include xl{
                height: 50px;
            }
        }
    }
}
